#dataEntry {
	background-color: #8A0829;
	border: 3px solid black;
	color: white;
	padding:5px;
	height: 220px;
	width: 400px;
	border-radius: 10px;
	text-align: center;
	margin:auto;
	font-size: 20px;
}

.button {
	height: 30px;
	width: 90px;
	border: 3px solid black;
	border-radius: 10px;
	background-color: white;
	color:#0B614B;
	text-align: center;
	padding: 10px;
	font-size: 17px;
	margin: 10px;
	float:left;

}
#addButton {
	height: 35px;
	width: 120px;
	border: 3px solid black;
	border-radius: 10px;
	background-color: white;
	color:#0B614B;
	text-align: center;
	padding: 10px;
	font-size: 17px;
	margin: 10px auto;
}

body {
	background-color: #9BE1DF;
	font-family: arial;

}

#userEntry {
	width:250px;
	height:30px;
}

#dataStructure {
	height: 200px;
	width: 800px;
}

#dataValue {
	height: 30px;
	width: 30px;
}

